body {
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	width: 900px;
	margin: 0 auto;
	letter-spacing: 2px;
}

#main {
	position: relative;
}

#wrap {
	width: 900px;
	margin: 0 auto;
	min-height: 650px;
	padding-bottom: 50px;
}

#container_left {
	float: left;
	width: 300px;
}

#caption {
	margin-top: 30px;
	margin-left: 30px;
}

h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

h2 {
	font-size: 22px;
}

h3 {
	margin-bottom: 40px;
}

#container_right {
	float: right;
	width: 600px;
}

#ball {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: black;
	cursor: pointer;
	background-color: #329999;
}

#congratulation {
	display: none;
	position: absolute;
	left: 300px;
	width: 600px;
	padding-top: 300px;
	text-align: center;
}

#again {
	display: none;
}

.bouncing {
	animation: bouncing 12s infinite;
	-webkit-animation: bouncing 12s infinite;
}

.clear {
	clear: both;
}

@-webkit-keyframes bouncing {
	0%, 25%, 50%, 75%, 100% {margin-top: 0; -webkit-animation-timing-function: ease-in;}
	11%, 36%, 61%, 86% {width: 120px;}
	12%, 37%, 62%, 87% {margin-top: 500px; width: 135px; -webkit-animation-timing-function: ease-out;}
	13%, 38%, 63%, 88% {width: 120px;}
}