body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	background-color: #BDC3C7;
	text-align: center;
	color: #132537;
}

#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #BDC3C7;
  z-index: 500;
}

h1 {
	font-size: 60px;
	line-height: 120px;
}

h2 {
	font-size: 30px;
	line-height: 50px;
}

p {
	font-size: 20px;
	margin: 100px 0 0;
}

#start {
	border: none;
	background-color: #E74C3C;
	padding: 8px 40px;
	color: #fff;
	font-size: 40px;
	margin: 50px 0;
	cursor: pointer;
}

#container {
  padding-bottom: 58px;
}

.wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding-top: 50px;
  background: #BDC3C7;
}

.wrapper, .wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.pie {
  position: absolute;
  width: 50%;
  height: 100%;
  border: 20px solid rgba(255, 255, 255, 0.3);
  background-color: #30d3d9;

  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  border-right: none;
  z-index: 200;
}

.spinner_animate {
  -webkit-animation: rotate 30s linear;
  -moz-animation: rotate 30s linear;
  -ms-animation: rotate 30s linear;
  -o-animation: rotate 30s linear;
  animation: rotate 30s linear;
}

.filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  border-left: none;
  left: 50%;
  opacity: 0;
  z-index: 100;
}

.filler_animate {
  -webkit-animation: opacity 30s steps(1, end) reverse;
  -moz-animation: opacity 30s steps(1, end) reverse;
  -ms-animation: opacity 30s steps(1, end) reverse;
  -o-animation: opacity 30s steps(1, end) reverse;
  animation: opacity 30s steps(1, end) reverse;
}

.mask {
  position: absolute;
  width: 53%;
  height: 103%;
  margin-top: -3px;
  margin-left: -15px;
  background: inherit;
  opacity: 1;
  z-index: 300;
}

.mask_animate {
  -webkit-animation: opacity 30s steps(1, end);
  -moz-animation: opacity 30s steps(1, end);
  -ms-animation: opacity 30s steps(1, end);
  -o-animation: opacity 30s steps(1, end);
  animation: opacity 30s steps(1, end);
}

#counter {
  position: relative;
  top: 150px;
  margin: auto;
  font-size: 200px;
  z-index: 400;
}

p a {
  text-decoration: none;
}

@-webkit-keyframes rotate {
  0% {-webkit-transform: rotate(0);}
  100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
  0% {-moz-transform: rotate(0);}
  100% {-moz-transform: rotate(360deg);}
}

@-ms-keyframes rotate {
  0% {-ms-transform: rotate(0);}
  100% {-ms-transform: rotate(360deg);}
}

@-o-keyframes rotate {
  0% {-o-transform: rotate(0);}
  100% {-o-transform: rotate(360deg);}
}

@keyframes rotate {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

@-webkit-keyframes opacity {
  0% {opacity: 1;}
  50%, 100% {opacity: 0;}
}

@-moz-keyframes opacity {
  0% {opacity: 1;}
  50%, 100% {opacity: 0;}
}

@-ms-keyframes opacity {
  0% {opacity: 1;}
  50%, 100% {opacity: 0;}
}

@-o-keyframes opacity {
  0% {opacity: 1;}
  50%, 100% {opacity: 0;}
}

@keyframes opacity {
  0% {opacity: 1;}
  50%, 100% {opacity: 0;}
}

