* {
	padding: 0;
	margin: 0;
}

.turntable {
	position: absolute;
	top: 50%;
	left: 55%;
	width: 500px;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px;
}

ul {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url("../img/turntable-bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

ul li {
	position: absolute;
	top: 50px;
	left: 50%;
	width: 120px;
	height: 200px;
	margin-left: -60px;
	text-align: center;
	list-style: none;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

ul li:nth-child(1) {
	-webkit-transform: rotate(22.5deg);
	transform: rotate(22.5deg);
}

ul li:nth-child(2) {
	-webkit-transform: rotate(67.5deg);
	transform: rotate(67.5deg);
}

ul li:nth-child(3) {
	-webkit-transform: rotate(112.5deg);
	transform: rotate(112.5deg);
}

ul li:nth-child(4) {
	-webkit-transform: rotate(157.5deg);
	transform: rotate(157.5deg);
}

ul li:nth-child(5) {
	-webkit-transform: rotate(-157.5deg);
	transform: rotate(-157.5deg);
}

ul li:nth-child(6) {
	-webkit-transform: rotate(-112.5deg);
	transform: rotate(-112.5deg);
}

ul li:nth-child(7) {
	-webkit-transform: rotate(-67.5deg);
	transform: rotate(-67.5deg);
}

ul li:nth-child(8) {
	-webkit-transform: rotate(-22.5deg);
	transform: rotate(-22.5deg);
}

p {
	margin-top: 20px;
	font-size: 17px;
}

img {
	width: 50px;
	height: 50px;
	margin-top: 20px;
}

.start {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 110px;
	height: 120px;
	margin-top: -67px;
	margin-left: -55px;
	background-image: url("../img/lottery-btn.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	cursor: pointer;
}

.lottery-logs {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	background-color: rgba(0, 0, 0, .1);
	overflow-y: auto;
}

ol {
	padding: 20px 40px;
}