body {
	background-color: #fcf7f2;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#wrap {
	margin-left: 50px;
}

#wrap h1 {
	padding-top: 180px;
	color: #bebebe;
}

#container {
	font-size: 28px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}

#fixed_text {
	position: fixed;
	top: 250px;
}

#connect_text {
	margin: 1954px 0 1041px;
}

#connect_text a {
	text-decoration: none;
	font-size: 18px;
	color: #bebebe;
}

#connect_text a:visited {
	color: #bebebe;
}

#connect_text a:hover {
	color: #999;
}

#einstein {
	text-align: center;
	margin-top: 50px;
}

#backtop {
	position: fixed;
	right: 10px;
	bottom: 100px;
}

#backtop a {
	opacity: 0.3;
}

#backtop a:visited {
	opacity: 0.3;
}

#backtop a:hover {
	opacity: 1;
}