html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font: 14px/1.8 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
